# === Виртуальное окружение ===
# Изолирует зависимости Python
venv/
.venv/
env/
ENV/

# === База данных и Локальные секреты ===
.env
*.sqlite3

# === Кэш Python ===
# Временные файлы компиляции, которые создаются автоматически при запуске сервера
**/__pycache__/
*.py[cod]
*$py.class

# === Настройки среды разработки (IDE) ===
# Локальные конфигурации PyCharm
.idea/
.vscode/

# === Отчеты о покрытии тестами (Coverage) ===
# Кэш и сгенерированные HTML-отчеты аналитики тестов
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/

# === Статические файлы и Медиа ===
# Исключает загруженные через админку файлы пациентов и сгенерированную статику
/staticfiles/
/media/
